<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="uz.xplay.xplay">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/new_xplay2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/new_xplay2"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Dark">
        <activity
            android:name="uz.xplay.xplay.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="uz.xplay.xplay.LoginActivity" android:theme="@style/AppTheme.Dark" />
        <activity android:name="uz.xplay.xplay.SignupActivity" android:theme="@style/AppTheme.Dark" />
    </application>

</manifest>